################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/rutas-nacionales/v16
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/Source/Back/.vs/Vialidad/CopilotIndices/17.14.1593.33849
/Source/Back/.vs/Vialidad/FileContentIndex
/Source/Back/.vs/Vialidad/v17
/Source/Back/.vs/Vialidad/v18
/Source/Back/Vialidad/.vs
/Source/Back/Vialidad.Logger/.vs
/Source/Back/Vialidad.Logger/bin/Debug/Vialidad.Logger.dll
/Source/Back/Vialidad.Logger/bin/Debug/Vialidad.Logger.pdb
/Source/Back/Vialidad.Logger/bin/Debug/Vialidad.Model.dll
/Source/Back/Vialidad.Logger/bin/Debug/Vialidad.Model.pdb
/Source/Back/Vialidad.Logger/bin/Debug/Vialidad.Utils.dll
/Source/Back/Vialidad.Logger/bin/Debug/Vialidad.Utils.pdb
/Source/Back/Vialidad.Logger/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Source/Back/Vialidad.Logger/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/Back/Vialidad.Logger/obj/Debug/Vialidad.FD88944D.Up2Date
/Source/Back/Vialidad.Logger/obj/Debug/Vialidad.Logger.csproj.AssemblyReference.cache
/Source/Back/Vialidad.Logger/obj/Debug/Vialidad.Logger.csproj.CoreCompileInputs.cache
/Source/Back/Vialidad.Logger/obj/Debug/Vialidad.Logger.csproj.FileListAbsolute.txt
/Source/Back/Vialidad.Logger/obj/Debug/Vialidad.Logger.dll
/Source/Back/Vialidad.Logger/obj/Debug/Vialidad.Logger.pdb
/Source/Back/Vialidad/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Source/Back/Vialidad/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/Back/Vialidad/obj/Debug/Vialidad.Scraper.csproj.AssemblyReference.cache
/Source/Back/.vs/Vialidad/config/applicationhost.config
/Source/Back/Vialidad.Cache/.vs/Vialidad.Cache.csproj.dtbcache.json
/Source/Back/Vialidad.Cache/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Source/Back/Vialidad.Cache/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/Back/Vialidad.Cache/obj/Debug/Vialidad.Cache.csproj.AssemblyReference.cache
/Source/Back/Vialidad.Contracts/.vs/Vialidad.Contracts.csproj.dtbcache.json
/Source/Back/Vialidad.Contracts/bin/Debug/Vialidad.Contracts.dll
/Source/Back/Vialidad.Contracts/bin/Debug/Vialidad.Contracts.pdb
/Source/Back/Vialidad.Contracts/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Source/Back/Vialidad.Contracts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/Back/Vialidad.Contracts/obj/Debug/Vialidad.Contracts.csproj.AssemblyReference.cache
/Source/Back/Vialidad.Contracts/obj/Debug/Vialidad.Contracts.csproj.CoreCompileInputs.cache
/Source/Back/Vialidad.Contracts/obj/Debug/Vialidad.Contracts.csproj.FileListAbsolute.txt
/Source/Back/Vialidad.Contracts/obj/Debug/Vialidad.Contracts.dll
/Source/Back/Vialidad.Contracts/obj/Debug/Vialidad.Contracts.pdb
/Source/Back/Vialidad.Model/.vs/Vialidad.Model.csproj.dtbcache.json
/Source/Back/Vialidad.Model/bin/Debug/Vialidad.Model.dll
/Source/Back/Vialidad.Model/bin/Debug/Vialidad.Model.pdb
/Source/Back/Vialidad.Model/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Source/Back/Vialidad.Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/Back/Vialidad.Model/obj/Debug/Vialidad.Model.csproj.AssemblyReference.cache
/Source/Back/Vialidad.Model/obj/Debug/Vialidad.Model.csproj.CoreCompileInputs.cache
/Source/Back/Vialidad.Model/obj/Debug/Vialidad.Model.csproj.FileListAbsolute.txt
/Source/Back/Vialidad.Model/obj/Debug/Vialidad.Model.csproj.GenerateResource.cache
/Source/Back/Vialidad.Model/obj/Debug/Vialidad.Model.dll
/Source/Back/Vialidad.Model/obj/Debug/Vialidad.Model.pdb
/Source/Back/Vialidad.Routing/.vs/Vialidad.Routing.csproj.dtbcache.json
/Source/Back/Vialidad.Routing/bin/Debug/Vialidad.Contracts.dll
/Source/Back/Vialidad.Routing/bin/Debug/Vialidad.Contracts.pdb
/Source/Back/Vialidad.Routing/bin/Debug/Vialidad.Logger.dll
/Source/Back/Vialidad.Routing/bin/Debug/Vialidad.Logger.pdb
/Source/Back/Vialidad.Routing/bin/Debug/Vialidad.Model.dll
/Source/Back/Vialidad.Routing/bin/Debug/Vialidad.Model.pdb
/Source/Back/Vialidad.Routing/bin/Debug/Vialidad.Routing.exe
/Source/Back/Vialidad.Routing/bin/Debug/Vialidad.Routing.exe.config
/Source/Back/Vialidad.Routing/bin/Debug/Vialidad.Routing.pdb
/Source/Back/Vialidad.Routing/bin/Debug/Vialidad.Services.dll
/Source/Back/Vialidad.Routing/bin/Debug/Vialidad.Services.pdb
/Source/Back/Vialidad.Routing/bin/Debug/Vialidad.Utils.dll
/Source/Back/Vialidad.Routing/bin/Debug/Vialidad.Utils.pdb
/Source/Back/Vialidad.Routing/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Source/Back/Vialidad.Routing/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Source/Back/Vialidad.Routing/obj/Debug/build.force
/Source/Back/Vialidad.Routing/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/Back/Vialidad.Routing/obj/Debug/Vialidad.A6DC507C.Up2Date
/Source/Back/Vialidad.Routing/obj/Debug/Vialidad.Routing.csproj.AssemblyReference.cache
/Source/Back/Vialidad.Routing/obj/Debug/Vialidad.Routing.csproj.CoreCompileInputs.cache
/Source/Back/Vialidad.Routing/obj/Debug/Vialidad.Routing.csproj.FileListAbsolute.txt
/Source/Back/Vialidad.Routing/obj/Debug/Vialidad.Routing.exe
/Source/Back/Vialidad.Routing/obj/Debug/Vialidad.Routing.exe.config
/Source/Back/Vialidad.Routing/obj/Debug/Vialidad.Routing.pdb
/Source/Back/Vialidad.Scheduler/.vs/Vialidad.Scheduler.csproj.dtbcache.json
/Source/Back/Vialidad.Scheduler/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Source/Back/Vialidad.Scheduler/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/Back/Vialidad.Scheduler/obj/Debug/Vialidad.Scheduler.csproj.AssemblyReference.cache
/Source/Back/Vialidad.Services/.vs/Vialidad.Services.csproj.dtbcache.json
/Source/Back/Vialidad.Services/bin/Debug/Vialidad.Contracts.dll
/Source/Back/Vialidad.Services/bin/Debug/Vialidad.Contracts.pdb
/Source/Back/Vialidad.Services/bin/Debug/Vialidad.Logger.dll
/Source/Back/Vialidad.Services/bin/Debug/Vialidad.Logger.pdb
/Source/Back/Vialidad.Services/bin/Debug/Vialidad.Model.dll
/Source/Back/Vialidad.Services/bin/Debug/Vialidad.Model.pdb
/Source/Back/Vialidad.Services/bin/Debug/Vialidad.Services.dll
/Source/Back/Vialidad.Services/bin/Debug/Vialidad.Services.pdb
/Source/Back/Vialidad.Services/bin/Debug/Vialidad.Utils.dll
/Source/Back/Vialidad.Services/bin/Debug/Vialidad.Utils.pdb
/Source/Back/Vialidad.Services/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Source/Back/Vialidad.Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/Back/Vialidad.Services/obj/Debug/Vialidad.FB40B9E7.Up2Date
/Source/Back/Vialidad.Services/obj/Debug/Vialidad.Services.csproj.AssemblyReference.cache
/Source/Back/Vialidad.Services/obj/Debug/Vialidad.Services.csproj.CoreCompileInputs.cache
/Source/Back/Vialidad.Services/obj/Debug/Vialidad.Services.csproj.FileListAbsolute.txt
/Source/Back/Vialidad.Services/obj/Debug/Vialidad.Services.dll
/Source/Back/Vialidad.Services/obj/Debug/Vialidad.Services.pdb
/Source/Back/Vialidad.Utils/.vs/Vialidad.Utils.csproj.dtbcache.json
/Source/Back/Vialidad.Utils/bin/Debug/Vialidad.Utils.dll
/Source/Back/Vialidad.Utils/bin/Debug/Vialidad.Utils.pdb
/Source/Back/Vialidad.Utils/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Source/Back/Vialidad.Utils/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/Back/Vialidad.Utils/obj/Debug/Vialidad.Utils.csproj.AssemblyReference.cache
/Source/Back/Vialidad.Utils/obj/Debug/Vialidad.Utils.csproj.CoreCompileInputs.cache
/Source/Back/Vialidad.Utils/obj/Debug/Vialidad.Utils.csproj.FileListAbsolute.txt
/Source/Back/Vialidad.Utils/obj/Debug/Vialidad.Utils.dll
/Source/Back/Vialidad.Utils/obj/Debug/Vialidad.Utils.pdb
/Source/Back/Vialidad.Web.Api/.vs/Vialidad.Web.Api.csproj.dtbcache.json
/Source/Back/Vialidad.Web.Api/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Source/Back/Vialidad.Web.Api/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/Back/Vialidad.Web.Api/obj/Debug/Vialidad.Web.Api.csproj.AssemblyReference.cache
/Source/Front/json/tramos_db.json
